#point-display {
    bottom: 0;
    right: 0;
    align-self: right;
    position: absolute;
    margin: 0 20px 20px 20px;
    font-size: 30px;
    color: var(--primary-main);
}

#game-info {
    top: 100vh;
    padding-top: 0px;
    left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#shop {
    margin: 10% 0%;;

}
#shop .cascadia-code-paragraph {
    color: var(--primary-main);
}

#shop .shop-element, #shop .reset-data, #point-display {
    cursor: pointer;
}

#shop .shop-element:hover, #shop .reset-data:hover, #point-display:hover {
    box-shadow: 0 4px 8px 0 var(--secondary-main);
    transition: 0.3s;
}


#clicker-bottom {
    top: 75vh;
    align-self: left;
    position: absolute;
    margin: 0 20px 20px 20px;
    font-size: 30px;
    color: var(--primary-main);
}