body {
    background-color: var(--dark);
    overflow-y: scroll;
    align-content: center;
}

button {
    padding: 5px 0px;
    border: none;
    border-radius: 4px;
    width: 105%;
    background-color: var(--secondary-main);
    color: var(--light);
    transition: 0.5s;
}

button a {
    text-decoration: none;
    color: var(--light);
}

button:hover {
    box-shadow: 0 4px 8px 0 var(--secondary-main);
    transition: 0.3s;
}

i {
    margin: 0px 30px;
    color: var(--light);
    font-size: 200%;
    margin-right: 5px;
    transition: 0.3s;
}

i:hover {
    color: var(--secondary-main);
    transition: 0.3s;
}

#main {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 7% 3%;
    align-content: center;
}

.swipe {
    overflow: hidden;
    animation: swipe 3s;
}

.swipe-down {
    overflow: hidden;
    animation: swipe-down 3s;
}

.centered {
    display: flex;
    height: 450px;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

.button-line {
    margin-top: 20px;
    margin-right:62%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-column-gap: 20px;
}

.social-links {
    width: fit-content;
}

.transparent-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    backdrop-filter: blur(10px) saturate(80%);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}


@keyframes swipe {
    0% {width: 0px;}
    100% {width: 90%;}
}

@keyframes swipe-down {
    0% {height: 0px;}
    100% {height: 100%;}
}

.ignore-clicks {
    pointer-events: none;
}

.register-clicks {
    pointer-events: auto;
}
