body {
    background-color: var(--dark);
    overflow-y: scroll;
}

/* Button Styles */

button {
    padding: 0.5rem 0;
    border: none;
    border-radius: 10px;
    width: 15rem;
    background-color: var(--secondary-main);
    color: var(--light);
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

button a {
    text-decoration: none;
    color: var(--light);
}

button:hover {
    box-shadow: 0 4px 8px 0 var(--secondary-main);
    transition: 0.3s;
}


/* Icon Styles */

i {
    margin: 0 0.5rem;
    color: var(--light);
    font-size: 2.5rem;
    margin-right: 0.5rem;
    transition: 1s;
}

i:hover {
    color: var(--secondary-main);
    transition: 0.3s;
}

/* Group Styles */

.transparent-box {
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    backdrop-filter: blur(20px) saturate(80%);
    padding: 1rem;
    border-radius: 15px;
}


