:root {
    --font-main: "Cascadia Code", sans-serif;

    /* Type scale */
    --text-header: clamp(2rem, 4vw + 1rem, 3rem);
    --text-subheader: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
    --text-body: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);

    --text-strong-scale: 1.1;
}

.text-header {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--text-header);
    color: var(--light);
}

.text-subheader {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--text-subheader);
    color: var(--light);
}

.text-body {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--text-body);
    color: var(--light);
}

.text-header b, 
.text-subheader b,
.text-body b {
    font-weight: 600;
    color: var(--secondary-main);
    font-size: calc(1em * var(--text-strong-scale));
}

.text-header i,
.text-subheader i,
.text-body i {
    font-style: italic;
    color: var(--primary-main);
}

.text-header a,
.text-subheader a,
.text-body a {
    color: var(--primary-main);
    text-decoration-color: var(--primary-main);
}