.cascadia-code-header {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--light);
    font-size: 225%;
    white-space: nowrap;
    overflow: hidden;
}

.cascadia-code-header b {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    color: var(--secondary-main);
    font-size: 110%;
}

.cascadia-code-header i {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--primary-main);
    font-style: italic;
    font-size: 30px;
}

.cascadia-code-header a {
    color: var(--primary-main);
    text-decoration-color: var(--primary-main);
}

.cascadia-code-paragraph {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--light);
    font-size: 150%;
}

.cascadia-code-paragraph b {
    font-family: "Cascadia Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    color: var(--secondary-main);
    font-size: 110%;
}