.topnav {
  display: flex;
  justify-items: right;
  top: 0;
  right: 0;
  width: 30%;
  position: fixed;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links {
  float: right;
  margin-right: 10%;
}

.topnav a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--secondary-main);
}

.topnav a.active {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--primary-main);
  color: var(--light);
}