.topnav {
  display: flex;
  justify-items: right;
  top: 0;
  right: 0;
  width: 20rem;
  position: fixed;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.links {
  float: right;
  margin-right: 2rem;
}

.topnav a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--primary-main);
  transition: 0.3s;
}

.topnav a.active {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--secondary-main);
  color: var(--light);
}

/* Resizing for different screens */
/* Tablet */
@media (max-width: 768px) {
    .topnav {
      width: auto;
      position:fixed;
    }
    .links {
      display: flex;
      flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .links {
      display: none;
    }
}

