#main {
    display: flex;
    min-height: 200px;
    margin: 3% 3%;
    flex-direction: column;
}

.row {
    width: 60%;
    justify-self: center;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.column {
    justify-items: center;
}