#main {
    display: flex;
    min-height: 200px;
    margin: 7% 3%;
    flex-direction: column;
}

.row {
    width: 60%;
    justify-self: center;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.column {
    justify-items: center;
}

.project {
    border-radius: 5%;
    width: 99%;
    aspect-ratio: 1/1;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    margin-bottom: 5%;
    background-color: var(--light);
}

.project img {
    width: 75%;
    aspect-ratio: 1/1;
    margin: 10px 25px 5px 25px;
    object-fit: cover;
    border: 10px solid var(--secondary-main);
    border-radius: 5%;
    
}

.project p {
    margin:0px;
}

.project button {
    background-color: var(--secondary-main);
    width: 82%;
    margin: 10px;
}

.project button p {
    font-size: 15px;
}