#main {
    display: flex;
    min-height: 200px;
    margin: 3% 3%;
    flex-direction: column;
    column-gap: 1.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.filters {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    max-height: 50px;
}

.filters .tag {
    font-size: 90%;
    white-space: nowrap;;
    padding: 0.5rem 1rem;
    filter: grayscale();
}

.filters .tag.selected {
    filter: none;
}

.filters .tag:hover {
    box-shadow: 0 4px 8px 0 var(--secondary-main);
    transition: 0.3s;
    filter: none;
}

.grid {
    width: 70%;
    columns: 3;
    column-gap: 1.5rem;

}