.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color: black;
}

input {
    background-color: black;
    font-family: "VT323";
    font-size: 30px;
    color: green;
    border: none;
    outline: none;
}

#terminal {
    margin-left: 20px;
    font-family: "VT323";
    font-size: 30px;
    color: green;
    -webkit-animation: blur 30ms infinite, jerk 50ms infinite, jerkup 60ms infinite;
}

#hiddenButton {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: black; 
}

::-webkit-scrollbar-thumb {
    background-color: green;
}

::selection {color:black;background:green;}

@-webkit-keyframes blur {
    0%   { -webkit-filter: 1blur(1px); opacity:0.8;}
    50% { -webkit-filter: blur(1px); opacity:1; }
    100%{ -webkit-filter: blur(1px); opacity:0.8; }
}

@-webkit-keyframes jerk {
    50% { left:1px; }
    51% { left:0; }
}

@-webkit-keyframes jerkup {
    50% { top:1px; }
    51% { top:0; }
}

