#terminal-text {
    bottom: 0;
    position: absolute;
    margin: 0 20px 20px 20px;
    font-family: "VT323";
    font-size: 30px;
    color: var(--primary-main);
    /* animation: blur 30ms infinite, jerkup 60ms infinite; */
    -webkit-animation: blur 30ms infinite;
}

/* Animations */

@-webkit-keyframes blur {
    0%   { -webkit-filter: 1blur(1px); opacity:0.8;}
    50% { -webkit-filter: blur(1px); opacity:1; }
    100%{ -webkit-filter: blur(1px); opacity:0.8; }
}